<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarCrash.com</title>
    <link rel="stylesheet" href="/ApiFront/styleEdit.css">
</head>

<body>

    <section class="container">
        <div class="BarraSuperior">
            <h1>Gestión de Productos</h1>
            <a href="/ApiFront/Views/index.html" class="btn">Volver al inicio</a>
            <button class="btn" onclick="abrirModalCrear()">Cargar un auto</button>
        </div>
    </section>
    <div>
        <div class="tablaDatos">

            <table class="table">

                <thead class="tableDark">
                    <tr>
                        <th>Modelo</th>
                        <th>Marca</th>
                        <th>Kilometraje</th>
                        <th>Año</th>
                        <th>Patente</th>
                        <th>Precio Venta</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>

                <tbody id="tablaProducto">
                </tbody>

            </table>

        </div>
    </div>

    <div id="editarAuto" class="modalCasero">
        <div class="modal-caja">
            <h2>Editar auto</h2>

            <input type="hidden" id="AutoID">

            <label>Marca</label>
            <input type="text" id="MarcaEditar">

            <label>Modelo</label>
            <input type="text" id="ModeloEditar">

            <label>Año</label>
            <input type="number" id="AnioEditar">

            <label>Patente</label>
            <input type="text" id="PatenteEditar">

            <label>Kilometraje</label>
            <input type="number" id="KilometrajeEditar">

            <label>Fecha de ingreso</label>
            <input type="date" id="FechaIngresoEditar">

            <label>Precio</label>
            <input type="number" id="PrecioEditar">

            <label>Estado</label>
            <select id="EstadoEditar">
                <option value="true">Disponible</option>
                <option value="false">No disponible</option>
            </select>

            <div class="modalBotones">
                <button onclick="GuardarAuto()">Guardar</button>
                <button onclick="cerrarModal()">Cancelar</button>
            </div>
        </div>
    </div>

    <div id="crearAuto" class="modalCasero">
        <div class="modal-caja">
            <h2>Editar auto</h2>

            <label>Marca</label>
            <input type="text" id="MarcaCrear">

            <label>Modelo</label>
            <input type="text" id="ModeloCrear">

            <label>Año</label>
            <input type="number" id="AnioCrear">

            <label>Patente</label>
            <input type="text" id="PatenteCrear">

            <label>Kilometraje</label>
            <input type="number" id="KilometrajeCrear">

            <label>Fecha de ingreso</label>
            <input type="date" id="FechaIngresoCrear">

            <label>Precio</label>
            <input type="number" id="PrecioCrear">

            <label>Estado</label>
            <select id="EstadoCrear">
                <option value="true">Disponible</option>
                <option value="false">No disponible</option>
            </select>

            <div class="modalBotones">
                <button class="btn" onclick="CrearAuto()">Guardar</button>
                <button class="btn" onclick="cerrarModalCrear()">Cancelar</button>
            </div>
        </div>
    </div>
    <footer class="footer-personalizado">
        <div class="container">
            <div class="row text-center">
                <div class="col-12 mb-3">

                    <div class="icons">
                        <a class="linkeo" href="https://github.com/Luis-Amend">
                            github <img src="/ApiFront/img/github.png">
                        </a>

                        <a class="linkeo" href="https://www.instagram.com/luiss.amend?igsh=MXduMXp4ZmV1N2R5NQ==">
                            instagram <img src="/ApiFront/img/instg.png">
                        </a>
                    </div>
                    <small>&copy; copy right</small>
                    <small> 2026 Luis Amend se reserva todos los derechos.</small>
                </div>
            </div>
        </div>
    </footer>


    <script src="/ApiFront/app.js"></script>
</body>

</html>