<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarCrash.com</title>
    <link rel="stylesheet" href="/ApiFront/styleEdit.css">
</head>

<body>

    <section class="container">
        <div class="BarraSuperior">
            <h1>Gestión de Productos</h1>
            <a href="/ApiFront/Views/index.html" class="btn">Volver al inicio</a>
            <button class="btn" onclick="abrirModalCrear()">Cargar un auto</button>
        </div>
    </section>

    <div id="crearAuto" class="modalCasero">
        <div class="modal-caja">
            <h2>Editar auto</h2>

            <label>Marca</label>
            <input type="text" id="Marca">

            <label>Modelo</label>
            <input type="text" id="Modelo">

            <label>Año</label>
            <input type="number" id="Anio">

            <label>Patente</label>
            <input type="text" id="Patente">

            <label>Kilometraje</label>
            <input type="number" id="Kilometraje">

            <label>Fecha de ingreso</label>
            <input type="date" id="FechaIngreso">

            <label>Precio</label>
            <input type="number" id="Precio">

            <div class="modalBotones">
                <button class="btn" onclick="CrearAuto()">Guardar</button>
                <button class="btn" onclick="cerrarModalCrear()">Cancelar</button>
            </div>
        </div>
    </div>


    <div>
        <div class="tablaDatos">

            <table class="table">

                <thead class="tableDark">
                    <tr>
                        <th>Modelo</th>
                        <th>Marca</th>
                        <th>Kilometraje</th>
                        <th>Año</th>
                        <th>Patente</th>
                        <th>Precio Venta</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>

                <tbody id="tablaProducto">
                </tbody>

            </table>

        </div>
    </div>

<div class="modal fade" tabindex="-1" id="editarAuto">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header editar_modal">
                        <h5 class="modal-title" id="editarVehiculoLabel"> Editar Vehículo</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" hidden id="VehiculoID">
                        <div class="mb-3">
                            <div class="mb-3">
                                <label class="form-label">Marca</label>
                                <input type="text" class="form-control" id="MarcaEditar">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Modelo</label>
                                <input type="text" class="form-control" id="ModeloEditar">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Año</label>
                                <input type="number" class="form-control" id="AñoEditar">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Patente</label>
                                <input type="text" class="form-control" id="PatenteEditar">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Kilometraje</label>
                                <input type="number" class="form-control" id="KilometrajeEditar">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Fecha de Ingreso</label>
                                <input type="date" class="form-control" id="FechaIngresoEditar">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Estado</label>
                                <select class="form-select" id="EstadoEditar">
                                    <option value="true">Disponible</option>
                                    <option value="false">No Disponible</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- seccion de botones del modal de editar los datos de los vehiculos -->
                    <div class="modal-footer">

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Cancelar
                        </button>

                        <button type="button" class="btn btn-primary" onclick="EditarVehiculo()">
                            Guardar cambios
                        </button>
                    </div>
                </div>
            </div>
        </div>


    <footer class="footer-personalizado">
        <div class="container">
            <div class="row text-center">
                <div class="col-12 mb-3">

                    <div class="icons">
                        <a class="linkeo" href="https://github.com/Luis-Amend">
                            github <img src="/ApiFront/img/github.png">
                        </a>

                        <a class="linkeo" href="https://www.instagram.com/luiss.amend?igsh=MXduMXp4ZmV1N2R5NQ==">
                            instagram <img src="/ApiFront/img/instg.png">
                        </a>
                    </div>
                    <small>&copy; copy right</small>
                    <small> 2026 Luis Amend se reserva todos los derechos.</small>
                </div>
            </div>
        </div>
    </footer>


    <script src="/ApiFront/app.js"></script>
</body>

</html>