<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarCrash.com</title>
    <link rel="stylesheet" href="/ApiFront/Views/style.css">
</head>

<body>

    <section class="container">
        <div class="BarraSuperior">
            <div class="BarraPrincipal">
                <img src="/ApiFront/img/logoMarca.png" alt="logo">
                <h1>CarCrash.com</h1>
            </div>
            <p>Explora nuestra amplia gama de productos y servicios relacionados con automóviles.</p>
        </div>
        <div class="editarSection">
            <div>
                <h1>Bienvenido a CarCrash.com</h1>
                <p>Registra tu Auto aqui, te notificaremos cuando un comprador este disponible.</p>
                <a href="/ApiFront/Views/Edicion.html" class="btn">Ir a Edición</a>
            </div>
            <div>
                <img id="imgPresentacion" src="/ApiFront/img/autoPresentacion.png" alt="presentacion">
            </div>
        </div>
    </section>
    <footer class="footer-personalizado">
        <div class="container">
            <div class="row text-center">
                <div class="col-12 mb-3">

                    <div class="icons">
                        <a class="linkeo" href="https://github.com/Luis-Amend">
                            github <img src="/ApiFront/img/github.png">
                        </a>

                        <a class="linkeo" href="https://www.instagram.com/luiss.amend?igsh=MXduMXp4ZmV1N2R5NQ==">
                            instagram <img src="/ApiFront/img/instg.png">
                        </a>
                    </div>
                    <small>&copy; copy right</small>
                    <small> 2026 Curriculum de Luis. Todos los derechos reservados.</small>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>